.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.log

*.db
*.v9.bin
*.dtbcache.v2
*.futdcache.v2
*.ide
*.sdf
*.opensdf
*.vssscc
*.vspscc
*.vssscc

*.Designer.cs
*.localhistory/
*.DocumentLayout.json
*.DocumentLayout.backup.json

packages/
*.nupkg
*.snk

publish/
*.Publish.xml

.env
*.config
*.launch.json

Thumbs.db
Desktop.ini
